<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- BOOTSTRAP CSS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
          integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css"
          integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous" />

    <link href="https://design.miljoeportal.dk/output/dist/css/style.css" rel="stylesheet" />

    <title>Stanlab Requistion API - Reference implementation</title>

    <style>


        .design-section {
            margin-top: 4rem;
        }
    </style>
</head>
<body>

    <nav class="navbar p-4 navbar-expand-lg navbar-dark bg-primary">
        <img style="height: 2.5rem;" class="mr-4" src="https://design.miljoeportal.dk/logos/logo_negativ.svg" alt="Logo">
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
                data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <h2 class="navbar-brand mb-0">Stanlab Requisition API</h2>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="alert alert-dismissible alert-warning mt-5 mb-2">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Reference Implementation</h4>
            <p class="mb-0">
                This service is a reference implementation for testing and demonstration purposes only. The submitted requistions are not persisted, and will be deleted after application recycling.
            </p>
        </div>

        <div class="design-section clearfix">
            @RenderBody()
        </div>

        <hr>

        <p>
            Danmarks Miljøportal developer reference <a href="https://github.com/danmarksmiljoeportal" rel="nofollow">GitHub page</a>.
        </p>
    </div>

    <!-- JQURY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>

    <!-- BOOTSTRAP -->
    <script src="https://design.miljoeportal.dk/output/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
